

<div class="modal-body">
    <div class="card bg-dark rounded-0 w-100">
        <div class="card-header text-center my-0">

            <!-- settings navigation -->
            <ul class="nav nav-tabs card-header-tabs analysisModal" id="features-tab" role="tablist">
               <li class="nav-item">
                   <a class="nav-link active small" id="mfcc-tab" data-toggle="tab" href="#mfcc-content" role="tab" aria-controls="mfcc-content" aria-selected="true">MFCCs</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link small" id="spectral-tab" data-toggle="tab" href="#spectral-content" role="tab" aria-controls="spectral-content" aria-selected="false">Spectral</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link small" id="signal-tab" data-toggle="tab" href="#signal-content" role="tab" aria-controls="signal-content" aria-selected="false">Signal</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link small" id="segmentation-tab" data-toggle="tab" href="#segmentation" role="tab" aria-controls="segmentation" aria-selected="true">Segmentation</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link small" id="cluster-tab" data-toggle="tab" href="#cluster" role="tab" aria-controls="cluster" aria-selected="true">Cluster</a>
               </li>
           </ul>


        </div>
        <div class="card-body bg-dark ">
            <form id="feature-form" enctype="multipart/form-data" action="features" method="POST" novalidate>
                <div class="tab-content" id="features-content">

                    <!------ ::MFCCS:: ------>
                    <div class="tab-pane fade show active" id="mfcc-content" role="tabpanel" aria-labelledby="mfcc-tab">

                        <!-- coefficients -->
                        <div class="m-0 p-0 w-50 mx-auto" id="mfccs-settings">
                            <div class="form-group">
                                <label class="small" for="coefficients">Number of coefficients</label>
                                <input class="form-control form-control-sm mfccs" type="number" value="" placeholder="15" id='coefficients' min="0" max="20" required>
                                <div class="invalid-feedback">
                                    Number of Mel-frequency cepstrums coefficients must be between 0 and 20
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <!-- Delta -->
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input custom-control-input-sm mfccs" id="delta">
                                        <label class="custom-control-label small pt-1" for="delta">Delta</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <!-- Number of delta -->
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input custom-control-input-sm mfccs" id="deltadelta">
                                        <label class="custom-control-label small pt-1" for="deltadelta">Delta-Delta</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <div class="custom-control custom-checkbox mt-4">
                                <input type="checkbox" class="custom-control-input custom-control-input-sm" id="mfccs">
                                <label class="custom-control-label small pt-1" for="mfccs">Disabled</label>
                            </div>
                        </div>

                    </div>

                    <!------ ::Spectal:: ------>
                    <div class="tab-pane fade" id="spectral-content" role="tabpanel" aria-labelledby="spectral-tab">

                        <div class="row m-0 p-0 w-50 mx-auto" id="spectrals-settings">
                            <div class="col-6">
                                <!-- flux -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input custom-control-input-sm spectrals" id="flux">
                                    <label class="custom-control-label small pt-1" for="flux">Flux</label>
                                </div>

                                <!-- flux centroid -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input custom-control-input-sm spectrals" id="fluxcentroid">
                                    <label class="custom-control-label small pt-1" for="fluxcentroid">Flux Centroid [Hz]</label>
                                </div>

                                <!-- centroid -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input custom-control-input-sm spectrals" id="centroid">
                                    <label class="custom-control-label small pt-1" for="centroid">Centroid</label>
                                </div>
                            </div>

                            <div class="col-6">
                                <!-- Harmonicity -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input custom-control-input-sm spectrals" id="harmonicity">
                                    <label class="custom-control-label small pt-1" for="harmonicity">Harmonicity</label>
                                </div>

                                <!-- Harmonicity -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input custom-control-input-sm spectrals" id="flatness">
                                    <label class="custom-control-label small pt-1" for="flatness">Flatness</label>
                                </div>

                                <!-- Slopte (NOT IMPLEMENTED) -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input custom-control-input-sm spectrals" id="slope">
                                    <label class="custom-control-label small pt-1" for="slope">Slope</label>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <div class="custom-control custom-checkbox mt-4">
                                <input type="checkbox" class="custom-control-input custom-control-input-sm" id="spectrals">
                                <label class="custom-control-label small pt-1" for="spectrals">Disabled</label>
                            </div>
                        </div>
                    </div>


                    <!------ ::Signal:: ------>
                    <div class="tab-pane fade" id="signal-content" role="tabpanel" aria-labelledby="signal-tab">
                        <div class="row m-0 p-0 w-50 mx-auto" id="signals-settings">
                            <div class="col-6">

                                <!-- RMS energy -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input custom-control-input-sm signals" id="rms">
                                    <label class="custom-control-label small pt-1" for="rms">RMS Energy</label>
                                </div>

                                <!-- RMSenergy -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input custom-control-input-sm signals" id="zcr">
                                    <label class="custom-control-label small pt-1" for="zcr">Zero Crossing Rate</label>
                                </div>

                            </div>

                            <div class="col-6">

                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <div class="custom-control custom-checkbox mt-4">
                                <input type="checkbox" class="custom-control-input custom-control-input-sm" id="signals">
                                <label class="custom-control-label small pt-1" for="signals">Disabled</label>
                            </div>
                        </div>
                    </div>


                    <!------ ::SEGMENTATION:: ------>
                    <div class="tab-pane fade" id="segmentation" role="tabpanel" aria-labelledby="profile-tab">

                        <div class="w-50 mx-auto">
                            <!-- Segmentation size -->
                            <div class="form-group ">
                                <label class="small" for="size">Segment size [ms]</label>
                                <input class="form-control form-control-sm " type="number" value="1000" id='size' min="20" max="5000" required>
                                <div class="invalid-feedback small">
                                    Uniform segment size must be between 20 ms to 5000 ms
                                </div>
                            </div>

                            <!-- Step size -->
                            <div class="form-group ">
                                <label class="small" for="step">Step size [ms]</label>
                                <input class="form-control form-control-sm" type="number" value="1000" id='step' min="20" max="5000" required>
                                <div class="invalid-feedback">
                                    Uniform step size must be between 20 ms to 5000 ms
                                </div>
                            </div>

                            <p class="small text-muted">Labels are preserved only if the segmentation remains the same</p>
                        </div>
                    </div>


                    <!------ ::CLUSTER:: ------>
                    <div class="tab-pane fade" id="cluster" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="w-50 mx-auto">
                            <!-- Number of components -->
                            <div class="form-group">
                                <label class="small" for="components">Components</label>
                                <select class="custom-select custom-select-sm small w-100" id="components" required>
                                    <option value="[3]">3</option>
                                    <option value="[2]">2</option>
                                    <option value="[2,3]">Both</option>
                                </select>
                            </div>

                            <!-- METRIC SELECTION -->
                            <div class="form-group">
                                <label class="small" for="metric">Metric</label>
                                <select class="custom-select custom-select-sm small w-100" id="metric" required>
                                    <option value="euclidean">Euclidean</option>
                                    <option value="manhattan">Manhattan</option>
                                    <option value="cosine">Cosine</option>
                                    <option value="correlation">Correlation</option>
                                </select>
                            </div>

                            <!-- Number of neighbours -->
                            <div class="form-group">
                                <label class="small" for="neighbours">Neighbours</label>
                                <input class="form-control form-control-sm" type="number" value="15" id='neighbours' min="1" max="200" required>
                                <div class="invalid-feedback">
                                    Number of neighbours must be between 1 and 200
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer py-2">
    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Cancel</button>
    <button id="featuresSubmit" type="button" class="btn btn-info btn-sm">Cluster</button>
</div>

<script type="text/javascript">
    // set features as propagated from app.py
    $.each(data.meta.features, function(target, value) {
        // get disable button
        var btn = $('#' + target);

        // Set all subsequent features as disabled
        if (value.disabled) {
            btn.prop('checked', true)
            toggleDisabled(target)
        }

        // Set disable button behaviour
        btn.on('click', function(ev) {
            toggleDisabled(ev.target.id)
        });


        // propagate settings settings
        $.each(value, function(feature, value) {
            if ($.type(value) === "boolean" && value === true) {
                $('#' + feature).prop('checked', true)
            } else {
                $('#' + feature).val(value.toString())
            }
        })
    });

    // set all settings accordingly
    $.each(data.meta.settings, function(setting, o) {
        // cluster / segmentation
        $.each(o, function(target, value) {
            // components are passed as array, and thus needs special handeling
            if (target === 'components') {
                $('#' + target).val("[" + value.join() + "]")
            } else {
                $('#' + target).val(value.toString())
            }
        })
    })


    function toggleDisabled(t) {


        var inputs = $('#' + t + '-settings input, #' + t + '-settings select');
        $.each(inputs, function() {
            $('#' + t).prop('checked') ? $(this).attr('disabled', true) : $(this).attr('disabled', false)
        })
    }

    function removeRequired() {
        $('#mfccs').prop('required', false)
        $('#spectrals').prop('required', false)
        $('#signals').prop('required', false)
        $('#feature-form').removeClass('was-validated')
    }

    $('#feature-form').on('submit', function(ev) {
        ev.preventDefault()


        // make sure not all disable buttons are activated
        var btns = [$('#mfccs'),
                    $('#spectrals'),
                    $('#signals')]

        if (btns[0].prop('checked') && btns[1].prop('checked') && btns[2].prop('checked')) {
            // require and uncheck all buttons to highlight error
            $.each(btns, function() {
                this.prop('required', true);
                this.prop('checked', false);
            });
            // show error
            $('#feature-form').addClass('was-validated')

            // remove required after some time
            setTimeout(function() {
                $.each(btns, function() {
                    this.prop('required', false);
                });
                $('#feature-form').removeClass('was-validated')
            }, 1000); // 1s
            return;
        }


        // validate all forms and pack data
        var formData = new FormData();
        var request = new XMLHttpRequest();
        var atLeastOneFeature = false
        var features = {
            mfccs: {
                disabled: btns[0].prop('checked')
            },
            spectrals: {
                disabled: btns[1].prop('checked')
            },
            signals: {
                disabled: btns[2].prop('checked')
            }
        }

        formData.set('settings', JSON.stringify({
                segmentation: {
                    mode: 'uniform', // TODO: implement beat-based segmentation
                    size: $('#size').val(),
                    step: $('#step').val()
                },
                cluster: {
                    components: $('#components').val(),
                    neighbours: $('#neighbours').val(),
                    metric: $('#metric').val()
                }
            })
        );


        $.each(ev.target, function() {
            if (!this.checkValidity()) {
                $('#feature-form').addClass('was-validated')
                return;
            } else {
                // check mfccs
                if ($(this).hasClass('mfccs')) {
                    // if components are set we have at least one
                    if (this.type !== 'checkbox') {
                        atLeastOneFeature = true;
                        features.mfccs[this.id] = $(this).val();
                    } else {
                        features.mfccs[this.id] = $(this).prop('checked');
                    }
                }

                // Pack and check spectrals
                else if ($(this).hasClass('spectrals')) {
                    var bool = $(this).prop('checked');
                    features.spectrals[this.id] = bool;
                    if (bool) {
                        atLeastOneFeature = true;
                    }
                }

                // Pack and check signals
                else if ($(this).hasClass('signals')) {
                    var bool = $(this).prop('checked');
                    features.signals[this.id] = bool;
                    if (bool) {
                        atLeastOneFeature = true;
                    }
                }
            }
        })



        if (!atLeastOneFeature) {
            alert('No features selected');
            return;
        } else {
            formData.set('features', JSON.stringify(features));
        }

        $('#modal').modal('hide')
        showLoadingScreen()

        // append non input field data TODO: add support for customizing
        formData.set('sessions', JSON.stringify(data.meta.sessions))
        formData.set('audios', JSON.stringify(data.meta.audios))

        // send current labeling
        var labels = []
        if ($('#size').val() === data.meta.settings.segmentation.size && $('#step').val() === data.meta.settings.segmentation.step) {
            $.each(data.data, function(ev) {
                labels.push(this.category)
            })
            formData.set('labels', JSON.stringify(labels));
        }

        // send data to server
        request.open('POST', '/features');
        request.send(formData);

        request.onload = function(ev) {
            if (request.status != 200) {
                alert(`Error ${request.status}: ${request.statusText}`);
            } else {
                var response = JSON.parse(request.response)
                window.location.href = response.redirect
            }
        };
    });

    $('#featuresSubmit').on('click', function(ev) {
        $('#feature-form').submit()
    });

</script>
