<div class="modal-header py-2">
    <p class="modal-title">Open Recent</p>
</div>
<div class="modal-body py-0">
    <div class="row w-100" style="height: 200px;">
        <div class="col-3 h-100" style='overflow-y: scroll;'>
            <ul class="list-group" id='recent-sessions'>

            </ul>
        </div>

        <div class="col-9">
            <div class="row">
                <div class="col-6" style='overflow-y: scroll; height: 200px;' id='recent-data-left' ></div>
                <div class="col-6" style='overflow-y: scroll; height: 200px;' id='recent-data-right'></div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer py-2">
    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Cancel</button>
    <button id="openFormBtn" type="button" class="btn btn-info btn-sm" disabled>Open</button>
</div>

<script type="text/javascript">


    var first_element = true
    for (var i = 0; i < data.meta.sessions.previous.length; i++) {

        if (first_element) {
            var el = '<li data-session="' + data.meta.sessions.previous[i] + '" class="list-group-item list-group-item-action bg-dark small mt-3 pl-3 py-2 active">' + data.meta.sessions.previous[i] + '</li>';
            loadAndShowMeta(data.meta.sessions.previous[i])
            first_element = false
        } else {
            var el = '<li data-session="' + data.meta.sessions.previous[i] + '" class="list-group-item list-group-item-action bg-dark small pl-3 py-2">' + data.meta.sessions.previous[i] + '</li>';
        }

        $('#recent-sessions').append(el)
        $('#recent-sessions > li:last-child').on('click', function(ev) {
            if (!$(this).hasClass('active')) {
                $('#recent-sessions > li,active').removeClass('active');
                $(this).addClass('active');
                loadAndShowMeta(ev.target.dataset.session)
            }
        })
    };



    $('#recent-sessions:last-child').addClass('mb-3')

    function loadAndShowMeta(id) {
        var object = {};
        console.log(id)
        $.ajax({
            type: "POST",
            url: "/recent/" + id,
            dataType: 'json',
            success: function(data, textStatus) {
                // clear data if present
                var left = $('#recent-data-left');
                var right = $('#recent-data-right')
                left.html('')
                right.html('')

                // draw features to left
                left.append('<p class="small text-white mt-3 mb-0">Features</p>')
                $.each(data.features, function(key, val) {
                    left.append('<p class="small text-white my-0 ml-3">' + key + ':</p>')
                    $.each(val, function(key, val) {
                        left.append('<p class="small text-white my-0 ml-4">' + key + ': ' + val + '</p>')
                    })
                })
                $('#recent-data-left:last-child').removeClass('my-0').addClass('mt-0').addClass('mb-3')

                // draw settings to left
                right.append('<p class="small text-white mt-3 mb-0">Settings</p>')
                $.each(data.settings, function(key, val) {
                    right.append('<p class="small text-white my-0 ml-3">' + key + ':</p>')
                    $.each(val, function(key, val) {
                        right.append('<p class="small text-white my-0 ml-4">' + key + ': ' + val + '</p>')
                    })
                })
                $('#recent-data-left:last-child').removeClass('my-0').addClass('mt-0').addClass('mb-3')
            }
        })
    }


    var btn = $('#openFormBtn');
    var frm = $('#openForm');

    frm.on('submit', function(ev) {
        $.each(ev.target, function() {
            if (!this.checkValidity()) {
                frm.addClass('was-validated')
                ev.preventDefault();
            }
        })
    });

    $('#openForm input').on('input', function() {
        if (this.value.length > 0) {
            btn.attr('disabled', false)
        } else {
            btn.attr('disabled', true)
        }
    });

    btn.on('click', function() {
        frm.submit();
    });
</script>
