<div class="modal-header py-2">
    <p class="modal-title">Re-Cluster</p>
</div>
<div class="modal-body">

        <div class="m-0 p-0 w-50 mx-auto">
            <form id="recluster-form" enctype="multipart/form-data" action="coagulate" method="POST" novalidate>
                <!-- Number of components -->
                <div class="form-group">
                    <label class="small" for="components">Components</label>
                    <select class="custom-select custom-select-sm small w-100" id="components" required>
                        <option value="[3]">3</option>
                        <option value="[2]">2</option>
                        <option value="[2,3]">Both</option>
                    </select>
                </div>

                <!-- METRIC SELECTION -->
                <div class="form-group">
                    <label class="small" for="metric">Metric</label>
                    <select class="custom-select custom-select-sm small w-100" id="metric" required>
                        <option value="euclidean">Euclidean</option>
                        <option value="manhattan">Manhattan</option>
                        <option value="cosine">Cosine</option>
                        <option value="correlation">Correlation</option>
                    </select>
                </div>

                <!-- Number of neighbours -->
                <div class="form-group">
                    <label class="small" for="neighbours">Neighbours</label>
                    <input class="form-control form-control-sm" type="number" value="15" id='neighbours' min="1" max="200" required>
                    <div class="invalid-feedback">
                        Number of neighbours must be between 1 and 200
                    </div>
                </div>
            </form>


            <label class="small">Exclude label(s)</label>
            <div class="btn-group btn-block w-100 d-flex" id="exclude">
                <button type="button" value="0" class="btn btn-dark    btn-sm flex-fill"><text style="font-size: 11px;">-</text></button>
                <button type="button" value="1" class="btn btn-primary btn-sm flex-fill rounded-0"><text style="font-size: 11px;">1</text></button>
                <button type="button" value="2" class="btn btn-success btn-sm flex-fill rounded-0"><text style="font-size: 11px;">2</text></button>
                <button type="button" value="3" class="btn btn-warning btn-sm flex-fill rounded-0"><text style="font-size: 11px;">3</text></button>
                <button type="button" value="4" class="btn btn-danger  btn-sm flex-fill rounded-0"><text style="font-size: 11px;">4</text></button>
                <button type="button" value="5" class="btn btn-cat1    btn-sm flex-fill rounded-0"><text style="font-size: 11px;">5</text></button>
                <button type="button" value="6" class="btn btn-cat2    btn-sm flex-fill rounded-0"><text style="font-size: 11px;">6</text></button>
                <button type="button" value="7" class="btn btn-cat3    btn-sm flex-fill rounded-0"><text style="font-size: 11px;">7</text></button>
                <button type="button" value="8" class="btn btn-cat4    btn-sm flex-fill"><text style="font-size: 11px;">8</text></button>
            </div>

            <div class="btn-group btn-block w-100 d-flex">
                <button id="reset" type="button" value="" class="btn btn-dark btn-sm flex-fill"><text style="font-size: 11px;">Reset exclusion</text></button>
            </div>


        </div>

        <div class="custom-control custom-checkbox mt-3 d-flex justify-content-center">
            <input type="checkbox" class="custom-control-input custom-control-input-sm signals" id="targets">
            <label class="custom-control-label small pt-1" for="targets">Use labels for Full-/Semi-Supervised Clustering</label>
        </div>

        <p class="text-muted small text-center mt-4 mb-0">Exclude labeled points by clicking the corresponding label button above. <br>
            This will exclude points from the re-clustering process and remove them from the space.
             All points are included by default.
        </p>


</div>
<div class="modal-footer py-2">
    <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">Cancel</button>
    <button id="recluster-submit" type="button" class="btn btn-info btn-sm">Cluster</button>
</div>

<script type="text/javascript">
    // set cluster settings from meta data
    $('#components').val('[' + data.meta.settings.cluster.components.join() + ']');
    $('#metric').val(data.meta.settings.cluster.metric.toString());
    $('#neighbours').val(data.meta.settings.cluster.neighbours.toString())

    var btn = $('#recluster-submit');
    var frm = $('#recluster-form');
    var tracker = [];

    // setup events and track labels
    $('#exclude button').each(function(ev) {
        tracker.push(true)
        $(this).on('click', function(ev) {
            var i = $(this).val();
            if (tracker[i]) { // is included
                $(this).html('<text style="font-size: 11px;">x</text>');
                $(this).prop('disabled', true);
                tracker[i] = false;
            }
        })
    });

    $('#reset').on('click', function(ev) {
        $('#exclude button').each(function() {
            var i = $(this).val();
            i == 0 ? $(this).html('<text style="font-size: 11px;">-</text>') : $(this).html('<text style="font-size: 11px;">'+i+'</text>');
            $(this).prop('disabled', false);
            tracker[i] = true;
        })
    });



    frm.on('submit', function(ev) {
        ev.preventDefault();

        // check so there exists at least one label
        var error = true;
        for (var i = 0; i < tracker.length; i++) {
            if (tracker[i]) {
                error = false;
                break;
            }
        }

        if (error) {
            alert('At least one label must be included in the coagulation.')
            return;
        }

        $.each(ev.target, function() {
            if (!this.checkValidity()) {
                frm.addClass('was-validated')
                error = true;
            }
        })

        if (error) return;


        var use_supervised = $('#targets').prop('checked');

        // pack data and labels
        label_data = [['id', 'startTimes(ms)', 'label', 'song_ids', 'positions']]
        $.each(data.data, function(i, p) {
            if (use_supervised) {
                // include all points when using unsupervised
                // cluster, but mark excluded points as -1
                var l = tracker[p.category] ? p.category : -1;
                label_data.push([p.id, p.start, l, p.song_id, p.position])
            } else {
                // skip points if not using unsupervised
                // clustering
                if (tracker[p.category]) {
                    label_data.push([p.id, p.start, p.category, p.song_id, p.position])
                }
            }
        })

        if (label_data.length === 1) {
            alert('No points were included. Please, try again.')
            return;
        };

        $('#modal').modal('hide')
        showLoadingScreen()

        // pack values and send for coagulate
        var formData = new FormData();

        // settings object
        formData.set('settings', JSON.stringify({
            segmentation: data.meta.settings.segmentation,
            cluster: {
                components: $('#components').val(),
                neighbours: $('#neighbours').val(),
                metric: $('#metric').val(),
            }
        }))

        formData.set('labels', JSON.stringify({
            tracker: tracker,
            data: label_data,
            supervised: use_supervised
        }))

        // pass meta data
        formData.set('sessions', JSON.stringify(data.meta.sessions))
        formData.set('features', JSON.stringify(data.meta.features))
        formData.set('audios', JSON.stringify(data.meta.audios))

        $.ajax({
            url: '/retrain',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            success: function(data) {
                window.location.href = data.redirect;
            }
        });

    });

    btn.on('click', function() {
        frm.submit();
    });
</script>
