<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
    <title>TDA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.1/pixi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>



	<!-- USED FOR DECK.GL -->
	<script src="https://unpkg.com/deck.gl@^6.4.5/deckgl.min.js"></script>


    <!-- <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>     -->
</head>
<body>
	<div id="loading"></div>
	<div id="floatingCircle"></div>
		<div class="container-fluid h-100 d-flex flex-column" id="content">

			<!-- HEADER -->
			<div class="row flex-shrink-0">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 shadow" style="z-index: 99;">
			    	<ul class="navbar-nav mr-auto">
						<li class="nav-item">
		    			<a class="navbar-brand" href="#">TDA</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" style='color:white' href="/">Home</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" style='color:white' href="#">Documentation</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" style='color:white' href="https://github.com/perfall/Temporally-Disassembled-Audio">GitHub</a>
		                </li>
		                <li class="nav-item dropdown">
		                    <a class="nav-link dropdown-toggle" style='color:white' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                        Examples
		                    </a>
		                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		                    	<h6 class="dropdown-header">Demos</h6>
		                        <a class="dropdown-item" href="/1542635376120841">Bd_1697A_m16, kvinna intervju</a>
		                        <a class="dropdown-item" href="/1542637551725332">Gustav Karlsson, 100/50</a>
		                        <a class="dropdown-item" href="/1542638172634069">Bd_1698_m16, man intervju</a>
		                        <a class="dropdown-item" href="/1542640010556535">Nelson klein, 3h 1000/1000</a>
		                        <a class="dropdown-item" href="/15427073855052109">Nelson klein, 1h 1000/1000</a>
		                        <h6 class="dropdown-header">Speech</h6>
		                        <a class="dropdown-item" href="/1542117607126045">Donald Trump, state of the union speech ~1h. Segment size: 1000ms Step size: 1000ms</a>
		                        <a class="dropdown-item" href="/154115026407875">Nelson Klein, old Swedish recording ~1h. Segment size: 1000ms Step size: 1000ms</a>
		                        <a class="dropdown-item" href="/15384657614690912">Nelson Klein, ~10min.</a>
		                        <a class="dropdown-item" href="/15380354025784261">Bible, old testamente ~1h. Segment size: 1000ms Step size: 1000ms</a>
		                        <a class="dropdown-item" href="/15380609347825658">Tester, ~15 000 points</a>
		                        <a class="dropdown-item" href="/1538392316232363">Isca medalist</a>
		                        <a class="dropdown-item" href="/15383927662605581">Isca medalist, small</a>
		                        <a class="dropdown-item" href="/15384834277662258">Isca medalist, 50/25, mfcc-norm</a>
		                        <a class="dropdown-item" href="/1538568353258615">Gustav Karlsson ~5min, 100/50, mfcc-norm</a>
		                        <a class="dropdown-item" href="/15385687602075908">Gustav Karlsson ~5min, 100/50, mfcc</a>
		                        <a class="dropdown-item" href="/1542363964108663">Nelson Klein, all, sampled 1/10 1000ms</a>
		                        <div class="dropdown-divider"></div>
		                        <a class="dropdown-item" href="/1538745329258014">Eva breathing, mfcc</a>
		                        <div class="dropdown-divider"></div>
		                        <h6 class="dropdown-header">Music</h6>
		                        <a class="dropdown-item" href="/1538036173545738">Ambient music, ~1h. Segment size: 1000ms Step size: 1000ms</a>
		                    </div>
		                </li>
		            </ul>
		            <a class="nav-link" id="keyLink" style='color:white'>ID: {{session_key}}</a>
		            <form class="form-inline my-2 my-lg-0" action="goByKey" method="POST" enctype=multipart/form-data>
		                <input class="form-control mr-sm-2" name="id" type="search" placeholder="Enter id" aria-label="Search">
		                <button class="btn btn-outline my-sm-0" type="submit">Go</button>
		            </form>
		        </nav>
			</div>

			<!-- CONTENT -->
			<div class="row flex-grow-1">
				<div class="col-2 bg-dark text-white mh-100 px-5 py-3" id="sidebar" style="z-index: 4; overflow-y: scroll;">
		            <h6>Label</h6>
	                <div>
		               <div id="buttonGroup1">

						<div class="btn-group-vertical btn-block">

							<button type="button" value="black" class="btn-block btn btn-light btn-sm">None</button>

							<div class="btn-group btn-group-sm">
								<button type="button" value="blue" class="btn btn-primary btn-sm"><text style="font-size: 11px;">1</text></button>
								<button type="button" value="green" class="btn btn-success btn-sm"><text style="font-size: 11px;">2</text></button>
								<button type="button" value="yellow" class="btn btn-warning btn-sm"><text style="font-size: 11px;">3</text></button>
							</div>

							<div class="btn-group btn-group-sm">
								<button type="button" value="red" class="btn btn-danger btn-sm"><text style="font-size: 11px;">4</text></button>
								<button type="button" value="purple" class="btn btn-cat1 btn-sm"><text style="font-size: 11px;">5</text></button>
								<button type="button" value="orange" class="btn btn-cat2 btn-sm"><text style="font-size: 11px;">6</text></button>
							</div>

							<div class="btn-group btn-group-sm">
								<button type="button" value="teal" class="btn btn-cat3 btn-sm"><text style="font-size: 11px;">7</text></button>
								<button type="button" value="brown" class="btn btn-cat4 btn-sm"><text style="font-size: 11px;">8</text></button>
							</div>
						</div>
	                </div>
					<div class="justify-content-center" style="margin-top: 3px;">
						<small class="text-muted">Label points by holding shift while hoovering over points.</small>
					</div>
					<hr>
					<h6>Algorithm</h6>
		            <div id="buttonGroup2">
						<div class="btn-group-vertical btn-block">
							<button type="button" value="tsne" class="btn btn-light btn-sm">t-SNE</button>
			                <button type="button" value="pca" class="btn btn-light btn-sm">PCA</button>
			                <!--<button type="button" value="som" class="btn btn-block btn-dark btn-sm">SOM</button>-->
			                <button type="button" value="umap" class="btn btn-light btn-sm">UMAP</button>
							<div class="btn-group">
								<button type="button" value="2D" class="btn btn-light btn-sm" id='btn-2D'>2D</button>
								<button type="button" value="3D" class="btn btn-light btn-sm active" id='btn-3D'>3D</button>
							</div>
						</div>
			        </div>
		            <hr>

					<!--
					<h6 id="layerText">Layer: 1</h6>
						<input style="width: 100px;" type="range" step="1" class="form-control-range py-0" id="layerSlider">
					<hr>
					-->

		                <h6>Retrain</h6>
			            <div class="btn-group-vertical btn-block" id="buttonGroup5">
		                	<button type="button" value="lab" class="btn btn-light btn-sm">labeled</button>
							<button type="button" value="inv" class="btn btn-light btn-sm">Inverse</button>
			            </div>
						<hr>
		                <h6>Export</h6>
		                <div id="buttonGroup4" >
		                	<button type="button" value="csv" class="btn btn-block btn-light btn-sm">CSV</button>
			            </div>
			            <hr>

		            </div>


					<div id="audioSettings" class="top-buffer">
		                <h4>Audio settings</h4>
						<div class="justify-content-center" style="margin-top: 3px;">
							<small class="text-muted">Play segments by holding ctrl while hoovering over points.</small>
						</div>
		                <h6 id="launchSliderText" class="top-buffer-sm"></h6>
		                <div class="slidecontainer">
		                    <input type="range" min="10" max="1000" value="250" step="10" class="form-control-range" id="launchSlider">
		                </div>
		                <h6 id="fadeSliderText" class="top-buffer-sm"></h6>
		                <div class="slidecontainer">
		                    <input type="range" min="0" max="500" value="250" step="10" class="form-control-range" id="fadeSlider">
		                </div>
		                <h6 id="gradientSliderText" class="top-buffer-sm"></h6>
		                <div class="slidecontainer">
		                    <input type="range" min="0" max="100" value="50" step="10" class="form-control-range" id="gradientSlider">
		                </div>
		                <h6 id="paddingSliderText" class="top-buffer-sm"></h6>
		                <div class="top-buffer text-center">
		                    <img id="loading-sm" src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif">
		                </div>
						<h6>Median filter value</h6>
		                <div id="medianFilterValueBox">
		                	<input type="number" class="w-100" id="medianfilterValue" value=2>

			            </div>
		            </div>
				</div>


				<!-- flexbox for multiple views -->
				<div class="col mx-0 px-0">
					<div class="d-flex flex-column h-100">
						<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-0 my-0 bar flex-shrink-0 flex-grow-0" id="mapHeader">

							<span class="badge badge-dark">Playback</span>
							<div class="btn-group" id="buttonGroup6">
								<button type="button" value="play" class="btn btn-dark btn-sm py-0 mt-1"><ion-icon class="playback" name="play"></ion-icon></button>
								<button type="button" value="pause" class="btn btn-dark btn-sm py-0 mt-1"><ion-icon class="playback" name="pause"></ion-icon></button>
								<button type="button" value="stop" class="btn btn-dark btn-sm py-0 mt-1"><ion-icon class="playback" name="square"></ion-icon></button>
							</div>
							<div class="mr-auto"> </div>

							<div class="btn-group">
								<button type="button" value="refocus" class="btn btn-dark btn-sm py-0 mb-0" id="toggleMeta">Metadata</button>
							</div>

						</nav>

						<div class="row my-0 py-0 mapCanvas flex-fill w-100" style="border-style: solid; border-width: 1px;" id="map">
							<text id="loadText" x="50%" y="50%" text-anchor="middle" opacity="0.8" fill="black" font-size="100px" font-family="Arial" dy=".2em" style="display:none">Loading..</text>
							<div id="tooltip" class="badge badge-dark unSelectableText" ></div>

							<div class="metaInfo" id="metaDefault" style="max-width: 18rem; opacity: 0.5;">
	    							<p class="card-text my-0 py-0"><small class="text my-0 py-0">Filename:</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0	fileName">Pictor_Alpha.wav</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0">Duration:</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0	duration">00:03:23.880</small></p>
									<br>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0">Segment size:</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0	segmentSize">1000 ms</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0">Step size:</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0	segmentStep">1000 ms</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0">Datapoints</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0 dataPoints">808</small></p>
							</div>

						</div>

						<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-0 flex-shrink-0 flex-grow-0" id="mapFooter">
							<button type="button" value="refocus" class="btn btn-dark btn-sm py-0 mb-1" id="cameraFocus">focus camera</button>

							<span class="badge badge-dark">flatten:</span>
							<div class="btn-group" id="buttonGroupNav">
								<button type="button" value="0" class="btn btn-dark btn-sm py-0">X</button>
								<button type="button" value="1" class="btn btn-dark btn-sm py-0">Y</button>
								<button type="button" value="2" class="btn btn-dark btn-sm py-0">Z</button>
							</div>

							<span class="badge badge-dark">Scale:</span>
			                <input style="width: 100px;" type="range" min="1" max="4" value="1" step="0.01" class="form-control-range py-0" id="scaleSlider">
							<div class="mr-auto"> </div>

							<div class="btn-group">
								<button type="button" value="refocus" class="btn btn-dark btn-sm py-0 mb-0" id="activateSublayer">Show subdivision</button>
							</div>
						</nav>

						<!-- subdivision plot -->
						<div class="row my-0 py-0 mapCanvas flex-fill w-100" style="border-style: solid; border-width: 1px;" id="subMap" hidden>
							<div id="subTooltip" class="badge badge-dark unSelectableText" ></div>

							<div class="metaInfo" id="metaSub" style="max-width: 18rem; opacity: 0.5;">
									<p class="card-text my-0 py-0"><small class="text my-0 py-0">Segment size:</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0 segmentSize">1000 ms</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0">Step size:</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0	segmentStep">1000 ms</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0">Datapoints</small></p>
									<p class="card-text my-0 py-0"><small class="text my-0 py-0 dataPoints">808</small></p>
							</div>
						</div>

						<div id="subMapFooter" hidden>
							<nav class="navbar navbar-expand-sm navbar-dark bg-dark py-0 flex-shrink-0 flex-grow-0">
								<button type="button" value="refocus" class="btn btn-dark btn-sm py-0 mb-1" id="cameraFocus">focus camera</button>

								<span class="badge badge-dark">flatten:</span>
								<div class="btn-group" id="buttonGroupNav">
									<button type="button" value="0" class="btn btn-dark btn-sm py-0">X</button>
									<button type="button" value="1" class="btn btn-dark btn-sm py-0">Y</button>
									<button type="button" value="2" class="btn btn-dark btn-sm py-0">Z</button>
								</div>

								<span class="badge badge-dark">Scale:</span>
				                <input style="width: 100px;" type="range" min="1" max="4" value="1" step="0.01" class="form-control-range py-0" id="subScaleSlider">
								<div class="mr-auto"> </div>

							</nav>
						</div>


						<canvas class="w-100" style="height: 80px; border-style: solid; border-width: 1px;" id="pixiSequence">

						</canvas>
					</div>
				</div>
			</div>


		<audio id="audioBar" controls controlsList="nodownload" style="display:none">
	  		<source src="{{audioPath}}">
		</audio>
		<!-- <div class="row top-buffer-sm" id="row3">
			<div class="col">
				<audio id="audioBar"controls controlsList="nodownload">
			  		<source src="{{audioPath}}">
				</audio>
			</div>
		</div> -->
	</div>
	<script type="text/javascript">
		// Define variables passed from app.py, they are used in js-file
		var audioDuration = '{{audioDuration}}';
		var segmentSize = '{{segmentSize}}';
		var stepSize = '{{stepSize}}';
		var audioPath = '{{audioPath}}';
		var sessionKey = '{{session_key}}';
		var subData = {{sub | tojson}}
		var data = {{data | tojson}};
	</script>
	<script src="{{ url_for('static', filename='js/BufferLoader.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sequence.js') }}"></script>
	<script src="{{ url_for('static', filename='js/deckMain.js') }}"></script>
	<script src="{{ url_for('static', filename='js/WAAClock.js') }}"></script>

</body>
