<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TDA</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
        <script type="text/javascript">
            function showLoadingGif(){
                $("#loading").show()
                $("#content").hide()
            }

            function activateProcessButton(){
                console.log("hej");
                $("input[id=submitNewAudio]").prop("disabled", false);
            }

        </script>
    </head>
    <body>
        <div id="loading"></div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="#">TDA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style='color:white' href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style='color:white' href="#">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style='color:white' href="https://github.com/perfall/Temporally-Disassembled-Audio">GitHub</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style='color:white' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Examples
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <h6 class="dropdown-header">Curtis Roads - Pictor Alpha</h6>
                        <a class="dropdown-item" href="/1552993986911905">Window: 1000 ms, Hop: 1000 ms</a>
                        <a class="dropdown-item" href="/1552994034386136">Window: 1000 ms, Hop: 1000 ms [2D + Sub]</a>
                        <a class="dropdown-item" href="/15529941193421361">Window: 500 ms, Hop: 100 ms [2D + Sub]</a>
                        <h6 class="dropdown-header">Flute (Professional vs Beginner)</h6>
                        <a class="dropdown-item" href="/15529949728519192">Window: 1000 ms, Hop: 500 ms [2D]</a>
                        <a class="dropdown-item" href="/1553003193775216">Window: 1000 ms, Hop: 500 ms [2D] (Re-clustered)</a>
                        <a class="dropdown-item" href="/1552995264692576">Window: 100 ms, Hop: 100 ms [2D + Sub]</a>
                        <h6 class="dropdown-header">Florian Hecker - Concat-Speech</h6>
                        <a class="dropdown-item" href="/15530034158784142">Window: 1000 ms, Hop: 1000 ms [Sub]</a>
                        <a class="dropdown-item" href="/1553005302084086">Window: 1000 ms, Hop: 1000 ms [Sub] (Re-clustered)</a>
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="goByKey" method="POST" enctype=multipart/form-data>
                <input class="form-control mr-sm-2" name="id" type="search" placeholder="Enter id" aria-label="Search">
                <button class="btn btn-outline my-sm-0" type="submit">Go</button>
            </form>
        </nav>

        <div class="container" id="content">
            <div class="jumbotron">
                <h1>Temporally Disassembled Audio</h1>
                <h5>Explore your audio with unsupervised machine learning</h5>
            </div>
            <h5>Upload your audio (wav or mp3)</h5>

            <!-- <form action = "visualizer" method="POST" enctype=multipart/form-data> -->
            <form action = "process_audio" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input id="uploadButton" type="file" name="file" onclick="activateProcessButton()">
                </div>
            <br>

            <!-- Segmentation card -->
            <div class="card border-dark mb-3" id="settings_card">
                <h5 class="card-header">
                    Segmentation and Visualization
                </h5>
                <div class="card-body">

                    <div id="sizeParameter">
                        <p class="font-weight-bold">Segment size</p>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio1" value="25">
                            <div class="state">
                                <label>25ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio1" value="50">
                            <div class="state">
                                <label>50ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio1" value="100">
                            <div class="state">
                                <label>100ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio1" value="250">
                            <div class="state">
                                <label>250ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio1" value="500">
                            <div class="state">
                                <label>500ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio1" value="1000" checked>
                            <div class="state">
                                <label>1000ms</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="stepParameter">
                        <p class="font-weight-bold">Step size</p>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio2" value="10">
                            <div class="state">
                                <label>10ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio2" value="25">
                            <div class="state">
                                <label>25ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio2" value="50">
                            <div class="state">
                                <label>50ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio2" value="100">
                            <div class="state">
                                <label>100ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio2" value="250">
                            <div class="state">
                                <label>250ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio2" value="500">
                            <div class="state">
                                <label>500ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio2" value="1000" checked>
                            <div class="state">
                                <label>1000ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio2" value="2500">
                            <div class="state">
                                <label>2500ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio2" value="5000">
                            <div class="state">
                                <label>5000ms</label>
                            </div>
                        </div>
                        <div class="pretty p-default p-round">
                            <input type="radio" name="radio2" value="10000">
                            <div class="state">
                                <label>10000ms</label>
                            </div>
                        </div>
                    </div>
                    <br>
                    <p class="font-weight-bold">Cluster settings</p>
                    <div class="pretty p-default p-round">
                        <input class="form-check-input" type="checkbox" value="" name="sub" id="sub">
                        <div class="state">
                            <label>Subdivide segmentation</label>
                        </div>
                    </div>

                    <div class="pretty p-default p-round">
                        <input class="form-check-input" type="checkbox" value="" name="2D" id="sub">
                        <div class="state">
                            <label>2D cluster component</label>
                        </div>
                    </div>
                </div>
            </div>



            <div class="d-flex justify-content-center">
            <p class="card-text "><small class="text-muted">Smaller resolutions takes longer to process. Adding a subdivision and 2D components also increases processing time.</small></p>
            </div>
            <hr>

            <div id="featureParameter">
                <p class="font-weight-bold">Features</p>

                <!-- MFCC CARD -->
                <div class="card border-dark mb-3" id="mfcc_card">
                    <h5 class="card-header">
                        <div class="pretty p-default p-round">
                            <input class="form-check-input" type="checkbox" value="" name="MFCC" id="mfccs" checked>
                            <div class="state">
                                <label>Mfcc</label>
                            </div>
                        </div>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">Number of coefficients</p>

                        <div class="pretty p-default p-round">
                            <input type="radio" name="mfcc_coefficients" value="2" >
                            <div class="state">
                                <label>2</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input type="radio" name="mfcc_coefficients" value="3" >
                            <div class="state">
                                <label>3</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input type="radio" name="mfcc_coefficients" value="4" >
                            <div class="state">
                                <label>4</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input type="radio" name="mfcc_coefficients" value="5" >
                            <div class="state">
                                <label>5</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input type="radio" name="mfcc_coefficients" value="6" >
                            <div class="state">
                                <label>6</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input type="radio" name="mfcc_coefficients" value="7" >
                            <div class="state">
                                <label>7</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input type="radio" name="mfcc_coefficients" value="8" >
                            <div class="state">
                                <label>8</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input type="radio" name="mfcc_coefficients" value="9" >
                            <div class="state">
                                <label>9</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input type="radio" name="mfcc_coefficients" value="10" >
                            <div class="state">
                                <label>10</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input type="radio" name="mfcc_coefficients" value="11" >
                            <div class="state">
                                <label>11</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input type="radio" name="mfcc_coefficients" value="12" checked>
                            <div class="state">
                                <label>12</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input type="radio" name="mfcc_coefficients" value="13" >
                            <div class="state">
                                <label>13</label>
                            </div>
                        </div>

                        <br>
                        <br>
                        <p class="card-text">Delta/Acceleration coefficients</p>

                        <div class="pretty p-default p-round">
                            <input type="checkbox" name="mfcc_delta" value="" checked>
                            <div class="state">
                                <label>Delta</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input type="checkbox" name="mfcc_deltadelta" value="" checked>
                            <div class="state">
                                <label>Acceleration (Delta-Delta)</label>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- SPECTRAL CARD -->
                <div class="card border-dark mb-3" id="spectral_card">
                    <h5 class="card-header">
                        <div class="pretty p-default p-round">
                            <input class="form-check-input" type="checkbox" value="" name="SPECTRAL" id="spectrals" checked>
                            <div class="state">
                                <label>Spectral</label>
                            </div>
                        </div>
                    </h5>
                    <div class="card-body">

                        <div class="pretty p-default p-round">
                            <input class="form-check-input" type="checkbox" value="" name="flux" checked>
                            <div class="state">
                                <label>Flux</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input class="form-check-input" type="checkbox" value="" name="fluxCentroid" checked>
                            <div class="state">
                                <label>Flux Centroid</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input class="form-check-input" type="checkbox" value="" name="centroid" checked>
                            <div class="state">
                                <label>Centroid</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input class="form-check-input" type="checkbox" value="" name="harmonicity" checked>
                            <div class="state">
                                <label>Harmonicity</label>
                            </div>
                        </div>

                        <div class="pretty p-default p-round">
                            <input class="form-check-input" type="checkbox" value="" name="flatness" checked>
                            <div class="state">
                                <label>Flatness</label>
                            </div>
                        </div>

                        <!--
                        <div class="pretty p-default p-round">
                            <input class="form-check-input" type="checkbox" value="" name="rollOff" checked>
                            <div class="state">
                                <label>rollOff (0.8)</label>
                            </div>
                        </div>
                        -->

                        <!--
                        <br>
                        <br>
                        <p class="card-text">Spectral band energy</p>

                        <div class="row">
                            <div class="col-sm-4">
                            <div class="card border-dark mb-3">
                                <div class="card-header">Low</div>
                                <div class="card-body text-dark">
                                    <h5 class="card-title">Dark card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            </div>

                            <div class="col-sm-4">
                            <div class="card border-dark mb-3">
                                <div class="card-header">Mid</div>
                                <div class="card-body text-dark">
                                    <h5 class="card-title">Dark card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            </div>

                            <div class="col-sm-4">
                            <div class="card border-dark mb-3">
                                <div class="card-header">High</div>
                                <div class="card-body text-dark">
                                    <h5 class="card-title">Dark card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            </div>
                        </div>
                        -->


                    </div>
                </div>

            </div>
            <br>
            <input type="submit" id="submitNewAudio" class="btn btn-info" value="Process audio" onclick="showLoadingGif()">
          </form>
          <br>
          <br>
        </div>
        <script>
            // Set defaults
            var mfccs = true;
            var spectr = true;

            var mfcc_overlay = $('<div />').addClass('overlay')
            var spectral_overlay = $('<div />').addClass('overlay')

            $('#mfccs').on("click", function() {
                var mfcc_card = $('#mfcc_card')
                if (mfccs) {
                    mfccs = false;
                    mfcc_card.removeClass('border-dark')
                    mfcc_card.append(mfcc_overlay)
                    mfcc_card.find('.card-body').addClass('fadeContent')
                } else {
                    mfccs = true;
                    mfcc_card.addClass('border-dark')
                    mfcc_overlay.remove()
                    mfcc_card.find('.card-body').removeClass('fadeContent')
                }
            })

            $('#spectrals').on("click", function() {
                var spectral_card = $('#spectral_card')
                if (spectr) {
                    spectr = false;
                    spectral_card.removeClass('border-dark')
                    spectral_card.append(spectral_overlay)
                    spectral_card.find('.card-body').addClass('fadeContent')
                } else {
                    spectr = true;
                    spectral_card.addClass('border-dark')
                    spectral_overlay.remove()
                    spectral_card.find('.card-body').removeClass('fadeContent')
                }
            })


        </script>
    </body>
</html>
