<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>LjudMAP</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
        <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
    </head>
    <body class="bg-dark">

        <nav class="navbar navbar-expand navbar-dark bg-dark shadow" style="z-index: 2;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="#">LjudMAP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style='color:white' href="#">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style='color:white' href="https://github.com/victorwegeborn/Temporally-Disassembled-Audio">GitHub</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style='color: white;' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Examples
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <h6 class="dropdown-header">Northlane - Rot (Only Drums)</h6>
                        <a class="dropdown-item" href="/1553692917264759">[1000 ms, 1000 ms] [2D + sub]</a>
                        <a class="dropdown-item" href="/1553693052387106">[500 ms, 250 ms] [2D + sub]</a>
                        <h6 class="dropdown-header">Stranger Moth</h6>
                        <a class="dropdown-item" href="/15536910341483772">[1000 ms, 1000 ms]</a>
                        <a class="dropdown-item" href="/1553691168377001">[1000 ms, 500 ms] [2D + sub]</a>
                        <a class="dropdown-item" href="/1553691711220479">[250 ms, 100 ms] [2D + sub]</a>
                        <h6 class="dropdown-header">Flute</h6>
                        <a class="dropdown-item" href="/15536941391405509">[1000 ms, 1000 ms] [2D]</a>
                        <a class="dropdown-item" href="/15536954027217221">[1000 ms, 1000 ms] [2D] Re-clustered</a>
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" action="goByKey" method="POST" enctype=multipart/form-data>
                <input class="form-control mr-sm-2" name="id" type="search" placeholder="Enter id" aria-label="Search">
                <button class="btn btn-outline my-sm-0" type="submit">Go</button>
            </form>
        </nav>


        <div class="d-flex align-items-center flex-column" id='welcome'>
            <div class="fadeBottom mt-auto p-2 h-75"></div>
        </div>

        <br>

        <!-- Loading gif -->
        <div id="loading" class="text-center"></div>

        <div class="container" id="content" style="z-index: 2;">

            <form action="process_audio" method="POST" enctype="multipart/form-data" id='mainForm' novalidate>

                <div class="row">
                    <div class="col-9">
                        <div class="card text-left rounded-0">
                            <div class="card-header bg-light">
                                Audio List
                            </div>
                            <div class="card-body py-0">

                                <table class="table table-sm small my-0">
                                  <tbody id='fileDisplay'>

                                  </tbody>
                                </table>

                            </div>
                            <div class="card-footer row text-muted px-4 pb-0">
                                <p class="ml-3"><small>
                                    Currently supports .wav and .mp3 only
                                </small></p>
                                <p class="ml-auto mr-3"><small id='fileCounter'>
                                    0 files
                                </small></p>
                                <p><small id='sizeCounter'>
                                    0 MB
                                </small></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card bg-light mb-3 rounded-0" style="max-width: 18rem;">
                            <div class="card-header text-center my-0 ">

                                <!-- settings navigation -->
                                <ul class="nav nav-tabs card-header-tabs" id="settings-tab" role="tablist">
                                  <li class="nav-item w-50">
                                    <a class="nav-link active" id="feature-tab" data-toggle="tab" href="#feature" role="tab" aria-controls="feature" aria-selected="true">features</a>
                                  </li>
                                  <li class="nav-item w-50">
                                    <a class="nav-link" id="cluster-tab" data-toggle="tab" href="#cluster" role="tab" aria-controls="cluster" aria-selected="false">Cluster</a>
                                  </li>
                                </ul>


                            </div>
                            <div class="card-body bg-white ">
                                <div class="tab-content" id="settings-content">
                                    <div class="tab-pane fade show active" id="feature" role="tabpanel" aria-labelledby="feature-tab">

                                        <!-- Segmentation size -->
                                        <div class="form-group ">
                                            <label class="small" for="segment">Segment size [ms]</label>
                                            <input class="form-control form-control-sm " type="number" value="1000" id='segment' min="20" max="5000" required>
                                            <div class="invalid-feedback small">
                                                Uniform segment size must be between 50 ms to 5000 ms
                                            </div>
                                        </div>

                                        <!-- Step size -->
                                        <div class="form-group ">
                                            <label class="small" for="step">Step size [ms]</label>
                                            <input class="form-control form-control-sm" type="number" value="1000" id='step' min="20" max="5000" required>
                                            <div class="invalid-feedback">
                                                Uniform step size must be between 50 ms to 5000 ms
                                            </div>
                                        </div>

                                        <!-- Number of MFCC's -->
                                        <div class="form-group mb-0">
                                            <label class="small" for="mfcss">MFCC's</label>
                                            <input class="form-control form-control-sm" type="number" value="13" id='mfccs' min="0" max="20" required>
                                            <div class="invalid-feedback">
                                                Number of Mel-frequency cepstrums must be between 0 and 20
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="cluster" role="tabpanel" aria-labelledby="profile-tab">

                                        <!-- Number of components -->
                                        <div class="form-group">
                                            <label class="small" for="components">Components</label>
                                            <select class="custom-select custom-select-sm small w-100" id="components" required>
                                                <option>3</option>
                                                <option>2</option>
                                                <option>Both</option>
                                            </select>
                                        </div>

                                        <!-- METRIC SELECTION -->
                                        <div class="form-group">
                                            <label class="small" for="metric">Metric</label>
                                            <select class="custom-select custom-select-sm small w-100" id="metric" required>
                                                <option>Euclidean</option>
                                                <option>Manhattan</option>
                                                <option>Cosine</option>
                                                <option>Correlation</option>
                                            </select>
                                        </div>

                                        <!-- Number of neighbours -->
                                        <div class="form-group">
                                            <label class="small" for="neighbours">Neighbours</label>
                                            <input class="form-control form-control-sm" type="number" value="15" id='neighbours' min="1" max="200" required>
                                            <div class="invalid-feedback">
                                                Number of neighbours must be between 1 and 200
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="upload btn btn-info my-0 rounded-0">
                            upload file(s)
                            <input class="uploadButton w-100 h-100" id="uploadButton" type="file" name="file" multiple>
                        </div>

                        <input type="submit" id="submitNewAudio" class="btn btn-info w-50 rounded-0" value="analyse" disabled>

                    </div>
                </div>

            </form>
        </div>


        <script src="{{ url_for('static', filename='js/Index.js') }}"></script>
    </body>
</html>
