:root {
    --dark-color: rgb(51, 58, 63);
    --dark-light-color: rgb(51,58,63);
    --dark-color-header: rgb(49, 56, 61);
    --dark-color-detail: rgb(43, 49, 53);
    --purple: rgb(134, 0, 123);
    --purple-hover: rgb(73, 4, 67);
    --orange: rgb(255, 163, 56);
    --orange-hover: rgb(143, 93, 36);
    --teal: rgb(0, 129, 128);
    --teal-hover:  rgb(3, 68, 67);
    --brown: rgb(160,82,45);
    --brown-hover: rgb(117, 61, 35);
}


html, body {
  height: 100%;
}

#selectionBox {
    border: 1px dotted #000;
    position: absolute;
}

#content {
    z-index: 1;
    position: relative;
}


#sidebar {
    position: absolute;
    z-index: 1;
}

#timeIndexDisplayWrapper {
}

.dropdown-menu {
    background: rgb(248, 249, 250)
}

.drop-highlight:hover {
    background-color: rgb(225, 229, 233);
    color: rgb(51, 58, 63);
}

.drop-highlight:active {
    background-color: rgb(197, 201, 205);
    color: rgb(51, 58, 63);
}

.drop-highlight-disabled, .drop-highlight-disabled:hover, .drop-highlight-disabled:active {
    color: rgb(197, 201, 205);
    background-color: white;
}

.btn:focus, .btn:active, .close {
   outline: none !important;
   box-shadow: none;
}



#welcome {
    height: 18em;
    background-image: url("/static/img/bg.png");
}

.meta {
    font-family: 'Cutive Mono', monospace;
}

.close {
    color: #fff;
    opacity: 1;
    text-shadow: 0px 2px 2px #000000;
}

.fadeBottom {
    z-index: 2;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(51,58,63,0), rgba(51,58,63, 1) 90%);
    width: 100%;
}

.modal-content {
    background-color: var(--dark-light-color);
}

.modal-header {
    border-bottom: 1px solid var(--dark-color-detail);
}

.modal-footer {
    border-top: 1px solid var(--dark-color-detail);
}


.upload {
    position: relative;
    overflow: hidden;
}


.uploadButton {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.mapCanvas {
    background-color: rgb(248,249,250);
    margin: auto;
    margin-bottom: 0px;
}

.flex-fill {
    flex:1;
}

.btn:focus {
  outline: none;
}



.playback {
    margin: auto;
    color: white;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(200, 200, 200, 0.5);
  opacity: 0.4;
}

.fadeContent * {
    color: rgba(200, 200, 200, 0.5);
}

.customBar {
    padding-top: 0px;
    margin-top: 0px;
}

#sequenceMap {
    margin: auto;
}

#graphMap {
    width: 100%;
}

#floatingCircle {
	position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    visibility: hidden;
    /*z-index: -1;*/
    /*opacity: 0.75;*/
    /*background-image: radial-gradient(black, white);*/
}

#loading {
    z-index: 9999;
    display: none;
    height: 180px;
    width: 180px;
    position: fixed;
    left: 50%;
    margin-left: -90px;
    background: url('../loading.gif') no-repeat;
    cursor: wait;
}

#loading-sm {
    width: 100px;
    height: auto;
}

.container-fluid {
    height: 100%;
}


#row2 {
    height: 5%;
}

#row3 {
    height: 5%;
}

.plot {
    cursor: none;
}

.top-buffer {
    margin-top:40px;
}

.top-buffer-sm {
    margin-top:25px;
}

.top-buffer-xs {
    margin-top:5px;
}

.side-buffer {
    margin-left:38px;
    margin-right:20px;
}

.side-buffer-lg {
    margin-left:60px;
    margin-right:60px;
}

#timeline {
    background-color: lightgrey;
    height: 100%;
    width: : 100%;
    z-index: 1;
}

a {
    /*color: white;*/
}

#audioBar {
    /*position: absolute;*/
    width: 100%;
    padding: 0;
}

audio::-webkit-media-controls-mute-button {
    display: none !important;
}

audio::-webkit-media-controls-play-button {
    /*display: none !important;*/
    cursor: pointer;
}

audio::-webkit-media-controls-current-time-display {
    display: none;
}

audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

audio::-webkit-media-controls-timeline {
    padding: 0px;
}

/*Slider settings:*/

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 34px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #3F729B; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 34px;
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #3F729B; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#graphics {
    background: #3F729B; /* Green background */
    border-radius: 34px;
    height: 200px; /* Slider handle height */
}


#tooltip {
    position: absolute;
    left: 5px;
    bottom: 5px;
    align-content: left;
    width: 150px;
}

.metaInfo {
    position: absolute;
    right: 20px;
    top: 5px;
    text-align: right;
}

#subTooltip {
    position: absolute;
    left: 5px;
    bottom: 5px;
    align-content: left;
}

.unSelectableText {
    cursor: none;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

/*More button colors*/
.btn-warning {
  color: white !important;
}

.btn-cat1 {
  background-color: var(--purple);
  color: white !important;
}
.btn-cat1:hover,
.btn-cat1:focus,
.btn-cat1:disabled {
  background-color: var(--purple-hover);
}

.btn-cat2 {
  background-color: var(--orange);;
  color: white !important;
}
.btn-cat2:hover,
.btn-cat2:focus,
.btn-cat2:disabled {
  background-color: var(--orange-hover);
}

.btn-cat3 {
  background-color: var(--teal);
  color: white !important;
}
.btn-cat3:hover,
.btn-cat3:focus,
.btn-cat3:disabled {
  background-color: var(--teal-hover);
}

.btn-cat4 {
  background-color: var(--brown);
  color: white !important;
}
.btn-cat4:hover,
.btn-cat4:focus,
.btn-cat4:disabled {
  background-color: var(--brown-hover);
}


/* Card nav bar tabs */

.analysisModal.nav-tabs .nav-link.active, .nav-tabs .show > .nav-link {
    color: white;
    background-color: var(--dark-color);
    border-color: var(--dark-color-detail) var(--dark-color-detail) var(--dark-color) var(--dark-color-detail);
}

.analysisModal.nav-tabs > .nav-link:hover {
    border-color: var(--dark-color-detail) var(--dark-color-detail) var(--dark-color) var(--dark-color-detail);
}

.analysisModal.nav-tabs > li > a {
    color: white;
}
